.about-section {
  background-color: #161c35;
  color: white;
  padding: 0 50px;
  background-image: url("../img/about-mobile@1x.png");
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__heading {
    margin: 0;
    padding-top: 35px;
    color: #ff8d30;
  }

  &__ending {
    padding-bottom: 85px;
    margin-bottom: 0;
    font-weight: bold;
  }
}
