.companions-section {
  background-color: #161c35;
  color: white;
  padding: 0 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__heading {
    margin: 0;
    padding-top: 35px;
    padding-right: 25px;
    padding-bottom: 0;
    padding-left: 25px;
    color: #ff8d30;
  }

  &__lead {
    padding: 0 25px;
  }

  &__ending {
    padding-top: 35px;
    padding-right: 25px;
    padding-bottom: 85px;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: bold;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__flags {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 35px;
    height: 24px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;

    &--lk {
      background-image: url("../img/flags-back@1x.png");
    }
  }

}
