.page-header {
  background-color: #161c35;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.page-header__top {
  display: flex;
  justify-content: space-between;
}

.page-header__logo-image {
  box-sizing: content-box;
  padding: 27px 0;
  display: block;
}

.page-header__toggle {
  box-sizing: content-box;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 11px;
  padding: 31px 0;
  fill: white;
}