.page-header {
  background-color: #161c35;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__logo-image {
    box-sizing: content-box;
    padding: 27px 27px 27px 27px;
    display: block;
  }

  &__toggle {
    box-sizing: content-box;
    border: none;
    background-color: transparent;
    width: 25px;
    height: 11px;
    padding: 31px 25px;
    fill: white;
  }
}

.main-nav {
  // display: none;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
